* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  background-color: #5995da;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.signup {
  margin-right: 20px;
}

.header-container {
  color: #5995DA;
  background-color: #d6e9fe;
  display: flex;
  justify-content: center;
}

.header {
  height: 300px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  height: 300px;
  width: 300px;
}

.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

.footer {
  background-color: #5995da;
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #d6e9fe;
  height: 200px;
  flex: 1;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  width: 300px;
  flex: initial;
}